<?xml version="1.0"?>

<configuration>
  <startup>
    <!-- supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" / -->
  </startup>
  <appSettings>
    <add key="ServerAddress" value="127.0.0.1"/>
    <add key="UseTcp" value="true"/>
    <add key="Loops" value="1"/>
    <add key="Clients" value="1"/>
  </appSettings>
</configuration>