.git/.MERGE_MSG*
.git/MERGE_MSG
.DS_Store
*/.DS_Store
Build
UnityGame/Workspace
UnityGame/Res
UnityGame/www
UnityGame/obj*
UnityGame/Library
UnityGame/www
UnityGame/res
UnityGame/Library*
UnityGame/Temp
UnityGame/Temp*
UnityGame/PlatformProj
UnityGame/Assets/StreamingAssets/Platform*
UnityGame/Assets/StreamingAssets/crash_report*
UnityGame/Assets/StreamingAssets/test_record*
UnityGame/Assets/StreamingAssets/test_WarEnterData*
UnityGame/Assets/StreamingAssets/test_*
UnityGame/Assets/_ZF
UnityGame/Assets/_Test
UnityGame/Assets/_temp
UnityGame/Assets/_*.meta
UnityGame/UnityGame.CSharp.Editor.csproj
UnityGame/UnityGame.CSharp.csproj
UnityGame/UnityGame.sln
UnityGame/UnityGame.userprefs
UnityGame/*.csproj
UnityGame/*.sln
UnityGame/*.userprefs