<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="WebRpcSettings" type="Photon.Hive.WebRpc.Configuration.WebRpcSettings, PhotonHive"/>
	</configSections>
	
	<startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="ServerAddress" value="127.0.0.1"/>
    <add key="UseTcp" value="true"/>
    <add key="Loops" value="1"/>
    <add key="Clients" value="1"/>
  </appSettings>

	<WebRpcSettings Enabled="True" ReconnectInterval="100">
		<BaseUrl Value="https://photon-loadbalancing.webscript.io/"/>
		<ExtraParams>
			<Param key="param1" value="value1"/>
			<Param key="param2" value="value2"/>
			<Param key="param3" value="value3"/>
		</ExtraParams>
	</WebRpcSettings>

</configuration>
