<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
      <supportedRuntime version="v4.5"/>
      <supportedRuntime version="v4.0"/>
      <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="ServerAddress" value="127.0.0.1" />
    <!-- game settings -->
    <add key="NumClientsPerGame" value="3" />
    <add key="NumGames" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings> 
</configuration>