<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="Photon" type="Photon.SocketServer.Diagnostics.Configuration.PhotonSettings, Photon.SocketServer" />
  </configSections>

  <Photon>
    <CounterPublisher enabled="True" updateInterval="1">
      <Sender
        endpoint="udp://255.255.255.255:40001"
        protocol="PhotonBinary"
        initialDelay="10"
        sendInterval="10" />
    </CounterPublisher>
  </Photon>

</configuration>