<?xml version="1.0" encoding="utf-8" ?>

<LoadBalancer>
  <LoadBalancerWeights>
    <add Level="Lowest" Value="25" />
    <add Level="Low" Value="25"/>
    <add Level="Normal" Value="25"/>
    <add Level="High" Value="25"/>
    <add Level="Highest" Value="0"/>
  </LoadBalancerWeights>
</LoadBalancer>
