<?xml version="1.0" encoding="utf-8" ?>

<LoadBalancer>
    
	<LoadBalancerWeights>
		<add Level="Lowest" Value="40" />
		<add Level="Low" Value="30"/>
		<add Level="Normal" Value="20"/>
		<add Level="High" Value="10"/>
		<add Level="Highest" Value="0"/>
	</LoadBalancerWeights>
     
</LoadBalancer>
