<?xml version="1.0" encoding="Windows-1252"?>
<!--
	(c) 2010 by Exit Games GmbH, http://www.exitgames.com
	Photon server configuration file.
	For details see the photon-config.pdf.

	This file contains one sample configurations:

		"LoadBalancing"
				Loadbalanced setup for local development: A Master-server and two game-servers.
				Starts the apps: Game, Master and Policy
				Listens: udp-port 5055, 5056 tcp-port: 4530, 4531, 4520, 843 and 943
-->

<Configuration>	
	<LoadBalancing
		MaxMessageSize="512000"
		MaxQueuedDataPerPeer="512000"
		PerPeerMaxReliableDataInTransit="51200"
		PerPeerTransmitRateLimitKBSec="256"
		PerPeerTransmitRatePeriodMilliseconds="200"
		MinimumTimeout="5000"
		MaximumTimeout="30000">

		
		<!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
		<!-- Port 5055 is Photon's default for UDP connections. -->
		<UDPListeners>
			<UDPListener
				IPAddress="0.0.0.0"
				Port="5055"
				OverrideApplication="Master">
			</UDPListener>
			<UDPListener
				IPAddress="0.0.0.0"
				Port="5056"
				OverrideApplication="Game">
			</UDPListener>			
		</UDPListeners>
		
		<!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->		
		<TCPListeners>
			<!-- TCP listener for Game clients on Master application -->
			<TCPListener
				IPAddress="0.0.0.0"
				Port="4530"
				OverrideApplication="Master"
				PolicyFile="..\deploy\Policy\assets\socket-policy.xml"
			InactivityTimeout="10000">
			</TCPListener>
			<TCPListener
				IPAddress="0.0.0.0"
				Port="4531"
				OverrideApplication="Game"
				PolicyFile="..\deploy\Policy\assets\socket-policy.xml"
				InactivityTimeout="10000">
			</TCPListener>
			<!-- DON'T EDIT THIS. TCP listener for GameServers on Master application -->
			<TCPListener
				IPAddress="0.0.0.0"
				Port="4520">
			</TCPListener>
		</TCPListeners>
		
		<!-- Policy request listener for Unity and Flash (port 843) and Silverlight (port 943)  -->
		<PolicyFileListeners>
			<!-- multiple Listeners allowed for different ports -->
			<PolicyFileListener
				IPAddress="0.0.0.0"
				Port="843"
				PolicyFile="..\deploy\Policy\assets\socket-policy.xml"
				InactivityTimeout="10000">
			</PolicyFileListener>
			<PolicyFileListener
				IPAddress="0.0.0.0"
				Port="943"
				PolicyFile="..\deploy\Policy\assets\socket-policy-silverlight.xml"
				InactivityTimeout="10000">
			</PolicyFileListener>
		</PolicyFileListeners>

		<!-- WebSocket (and Flash-Fallback) compatible listener -->
		<WebSocketListeners>
			<WebSocketListener
				IPAddress="0.0.0.0"
				Port="9090"
				DisableNagle="true"
				InactivityTimeout="10000"
				OverrideApplication="Master">
			</WebSocketListener>
            
			<WebSocketListener
				IPAddress="0.0.0.0"
				Port="9091"
				DisableNagle="true"
				InactivityTimeout="10000"
				OverrideApplication="Game">
			</WebSocketListener>
		</WebSocketListeners>
		
		<!--
		# NOTES for HTTP:
		## NON-Admin http support
		We support running this (http/https) WITHOUT having to be Admin. 
		By running the following as admin once BEFORE starting photon as non-admin:
		c:\> netsh http add urlacl url=http://+:80/photon/ sddl="D:(A;;GX;;;WD)"

		## HTTPS Certificates: To register a certificate we currently the method described here: https://github.com/tjanczuk/httpsys
		c:\> makecert -sr LocalMachine -ss My -pe -n "CN=mydomain.com" -a sha256 -len 1024 -r
		(to grab sha1 thumbprint use certmgr) -> EC2F8BD2360C61180C0DA68C2DC911EB6708B1E5
		c:\> certmgr -c -s -r LocalMachine My
		c:\> netsh http add sslcert ipport=0.0.0.0:443 certhash=EC2F8BD2360C61180C0DA68C2DC911EB6708B1E5 appid={someguid}
		-->
		
		<!-- rHTTP --
		<HTTP
			MaxActiveRequests="100"
			RequestTimeoutMilliseconds="150"
			DataSendingDelayMilliseconds="5">

			<ReliableHTTPListeners>
				<ReliableHTTPListener
					Url="http://+:80/photon/m"
					InactivityTimeout="35000"
					MaxInboundMessageSize="10000"
					MaxInboundMessageQueueSize="50000"
					MaxOutboundMessageSize="10000"
					MaxOutboundMessageQueueSize="50000"
					OverrideApplication="Master">
				</ReliableHTTPListener>

				<ReliableHTTPListener
					Url="http://+:80/photon/g"
					InactivityTimeout="35000"
					MaxInboundMessageSize="10000"
					MaxInboundMessageQueueSize="50000"
					MaxOutboundMessageSize="10000"
					MaxOutboundMessageQueueSize="50000"
					OverrideApplication="Game">
				</ReliableHTTPListener>
			</ReliableHTTPListeners>
		</HTTP>
		-->
		
		<!-- Defines the Photon Runtime Assembly to use. -->
		<Runtime
			Assembly="PhotonHostRuntime, Culture=neutral"
			Type="PhotonHostRuntime.PhotonDomainManager"
			CLRVersion="v4.0"
			UnhandledExceptionPolicy="Ignore">
		</Runtime>

		<!-- Defines which applications are loaded on start and which of them is used by default. Make sure the default application is defined. -->
		<!-- Application-folders must be located in the same folder as the bin_win32 folders. The BaseDirectory must include a "bin" folder. -->
		<Applications Default="Master">		
			<Application
				Name="Master"
				BaseDirectory="LoadBalancing"
				Assembly="Photon.LoadBalancing"
				Type="Photon.LoadBalancing.MasterServer.MasterApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config"
				ApplicationRootDirectory="LoadBalancing"
				>
			</Application>
			
			<Application
				Name="Game"
				BaseDirectory="LoadBalancing"
				Assembly="Photon.LoadBalancing"
				Type="Photon.LoadBalancing.GameServer.GameApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config"
				ApplicationRootDirectory="LoadBalancing"
				SharedDirectory="Plugins">
			</Application>			   
	
		</Applications>
	</LoadBalancing>
</Configuration>
