<?xml version="1.0" encoding="utf-8" ?>

<FeedbackControlSystem>
  
  <FeedbackControllers>

    <!-- CPU -->
    <add Name="CpuUsage" InitialInput="0" InitialLevel="Lowest">
      <FeedbackLevels>
        <add Level="Lowest" Value="20" />
        <add Level="Low" Value="35"/>
        <add Level="Normal" Value="50"/>
        <add Level="High" Value="70"/>
        <add Level="Highest" Value="90"/>
      </FeedbackLevels>
    </add>

    <!-- Bandwidth -->
    <add Name="Bandwidth" InitialInput="0" InitialLevel="Lowest">
      <FeedbackLevels>
        <!-- 1 / 4 / 8 / 10 MB -->
        <add Level="Lowest" Value="1048576"/>
        <add Level="Normal" Value="4194304"/>
        <add Level="High" Value="8388608"/>
        <add Level="Highest" Value="10485760"/>
      </FeedbackLevels>
    </add>
   
    
  </FeedbackControllers>
  
</FeedbackControlSystem>
