<?xml version="1.0"?>
<configuration>

	<configSections>
    <section name="Photon" type="Photon.SocketServer.Diagnostics.Configuration.PhotonSettings, Photon.SocketServer"/>
    <section name="PluginSettings" type="Photon.Hive.Configuration.PluginSettings, PhotonHive" />
    <section name="WebRpcSettings" type="Photon.Hive.WebRpc.Configuration.WebRpcSettings, PhotonHive" />
	</configSections>

	<PluginSettings Enabled="false">
		<Plugins>
			<Plugin Name="TestPlugins"
					Version=""
					AssemblyName="TestPlugins.dll"
					Type="TestPlugins.PluginFactory"
					BaseUrl="http://photon-photon-pluginsdk-v1.webscript.io"
					IsPersistent="true"
					HasErrorInfo="true"
					PathClose="GameClose"
					PathCreate="GameCreate"
					PathEvent="GameEvent"
					PathGameProperties="GameProperties"
					PathJoin="GameJoin"
					PathLeave="GameLeave"
					PathLoad="GameCreate" />
		</Plugins>
	</PluginSettings>

	<WebRpcSettings Enabled="true">
		<BaseUrl Value="http://photon-photon-pluginsdk-v1.webscript.io"/>
	</WebRpcSettings>

  <Photon>
    <CounterPublisher enabled="True" updateInterval="1">
      <Sender
        endpoint="udp://255.255.255.255:40001"
        protocol="PhotonBinary"
        initialDelay="10"
        sendInterval="10" />
    </CounterPublisher>
  </Photon>

	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
</configuration>
