<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PhotonServerAddress" value="localhost:5055"/>
    <!--<add key="PhotonServerAddress" value="udp.exitgames.com:5055"/>-->

    <add key="PhotonApplicationName" value="MmoDemo"/>
    <add key="PhotonUseTcp" value="false" />
    
    <!-- Settings for Mmo Grid Demo -->
    <add key="WorldName" value="Mmo Grid Demo"/>
    <add key="GridTilesVertical" value="20"/>
    <add key="GridTilesHorizontal" value="20"/>
    <add key="GridTileHeight" value="1000"/>
    <add key="GridTileWidth" value="1000"/>
    <add key="AutoMoveVelocity" value="5" />

    <!--<add key="WorldName" value="Unity3d-Grid"/>
    <add key="GridTilesVertical" value="10"/>
    <add key="GridTilesHorizontal" value="10"/>
    <add key="GridTileHeight" value="20"/>
    <add key="GridTileWidth" value="20"/>
    <add key="AutoMoveVelocity" value="1" />-->

    <!-- Demo 1 -->      
    <!--<add key="WorldName" value="Unity3d-Forms1"/>--><!--
    <add key="GridTilesVertical" value="10"/>
    <add key="GridTilesHorizontal" value="10"/>
    <add key="GridTileHeight" value="20"/>
    <add key="GridTileWidth" value="20"/>-->

    <!--<add key="WorldName" value="Unity3d-Forms2"/>-->   
    <!--<add key="GridTilesVertical" value="100"/>
    <add key="GridTilesHorizontal" value="100"/>
    <add key="GridTileHeight" value="50"/>
    <add key="GridTileWidth" value="50"/>-->
    
    <add key="SendReliable" value="false"/>    
    <add key="AutoMove" value="true"/>
    <add key="DrawInterval" value="5" />
    <add key="SendInterval" value="100" />
    <add key="AutoMoveInterval" value="3000" />
    
  </appSettings>
</configuration>